/build/
**/build/
CMakeLists.txt.user
CMakeCache.txt
cmake_install.cmake
compile_commands.json
CMakeFiles/
*.user
*.autosave
.qtc_clangd/
.qt/
*.qmlc
*.jsc
.DS_Store
Thumbs.db
*.exe
*.dll
*.o
*.obj
*.a
*.lib
.idea/
.vscode/
*.log
